h1 {
  text-align: center;
}

nav {
  text-align: right;
}

h4.titleNotebook {
  text-align: left;
}

.notebookTitles {
  border-style: solid;
  width: 500px;
  margin-left: 10px;
  display: block;
}

.notes {
  border-style: dotted;
}

.noteHeader {

}

ul li {
    list-style-type: none;
    padding: 16px;
}

.addNotes {
  background-color: gray;
  width: 500px;
  margin-left: 10px;
}

.longone {
  display: inline-block;
  flex-direction: row;
  border-style: dotted;
  text-align: center;
}

.ingbox {
  background: red;
  border-radius: 2%;
  display: inline-block;
  height: 100px;
  margin: auto 5px;
  width: 200px;
  flex: 1 0 auto;

}

/*.container {
  border-style: dotted;
  margin-top:-10px;
}*/

#inputBox {
  text-align: center;
}

#flex-box-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 33%;
}

#deleteButton {
  color: black;
  text-align: right;
  padding: 12px;
}

.seiji{
  border: none;
}






