<%= link_to "Create New Post", new_post_path %>
<section>
  <% @posts.each do |post| %>
    <article>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <time>Updated <%= post.updated_at %></time>
      <p><%= post.content %></p>
    </article>
  <% end %>
</section>
